<a href="https://colab.research.google.com/github/merrymilk/GB/blob/main/%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B9_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import gdown

!gdown 'https://drive.google.com/uc?id=1pmfc0FrkMvlM2SITpFz6bilk-dvDG_y0'

Downloading...
From: https://drive.google.com/uc?id=1pmfc0FrkMvlM2SITpFz6bilk-dvDG_y0
To: /content/data.db
100% 16.0M/16.0M [00:00<00:00, 166MB/s]

In [5]:
!pip install SQLAlchemy==2.0.21
%load_ext sql

Requirement already satisfied: SQLAlchemy==2.0.21 in /usr/local/lib/python3.10/dist-packages (2.0.21)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==2.0.21) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==2.0.21) (2.0.2)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql sqlite:////content/data.db

%config SqlMagic.displaylimit = 50

In [9]:
%sql select tbl_name, "sql" from sqlite_master;

 * sqlite:////content/data.db
Done.

[('mngmnt', 'CREATE TABLE mngmnt (\n\torg_management_rk BIGINT, \n\tmanagement_nm TEXT\n)'),
 ('product', 'CREATE TABLE product (\n\thit_rk BIGINT, \n\thid BIGINT, \n\tusing_flg FLOAT\n)'),
 ('queue', 'CREATE TABLE queue (\n\tqueue_id BIGINT, \n\tqueue_desc TEXT\n)'),
 ('result', 'CREATE TABLE result (\n\thit_status_result_id BIGINT, \n\thit_status_result_desc TEXT\n)'),
 ('horoscope', 'CREATE TABLE horoscope (\n\tagent_login TEXT, \n\thoroscope TEXT\n)'),
 ('group', 'CREATE TABLE "group" (\n\torg_group_rk BIGINT, \n\torg_management_rk BIGINT, \n\tgroup_nm TEXT\n)'),
 ('emp_x_org_gr', 'CREATE TABLE emp_x_org_gr (\n\temployee_rk BIGINT, \n\torg_group_rk BIGINT\n)'),
 ('task', 'CREATE TABLE task (\n\ttask_rk BIGINT, \n\ttask_stage_id FLOAT, \n\tsource_system_cd TEXT, \n\tcreate_dttm TEXT, \n\tfinish_dttm TEXT\n)'),
 ('action', 'CREATE TABLE action (\n\thit_rk BIGINT, \n\thit_status_result_id BIGINT\n)'),
 ('call', 'CREATE TABLE call (\n\two_hit_rk BIGINT, \n\two_task_rk BIGINT, \n\two_queue_id BIGINT, \n\tagent_login TEXT, \n\two_employee_rk BIGINT, \n\tfinish_dttm TEXT, \n\tduratoin_sec TEXT\n)')]

In [27]:
%%sql
select * from "group"
union
select * from product;

 * sqlite:////content/data.db
Done.

[(58, 325, 'Группа 42'),
 (252, 401, 'Группа 13'),
 (255, 445, 'Группа 45'),
 (262, 375, 'Группа 7'),
 (378, 415, 'Группа 41'),
 (390, 388, 'Группа 46'),
 (427, 370, 'Группа 14'),
 (627, 378, 'Группа 38'),
 (719, 443, 'Группа 28'),
 (771, 439, 'Группа 43'),
 (900, 483, 'Группа 49'),
 (954, 4, None),
 (960, 402, 'Группа 15'),
 (2031, 674, 'Группа 23'),
 (2077, 307, 'Группа 47'),
 (2097, 687, 'Группа 19'),
 (2105, 689, 'Группа 31'),
 (2108, 691, 'Группа 21'),
 (2136, 696, 'Группа 48'),
 (2138, 1521, 'Группа 29'),
 (2264, 1, None),
 (2351, 1636, 'Группа 1'),
 (2389, 323, 'Группа 5'),
 (2430, 1699, 'Группа 26'),
 (2447, 1711, 'Группа 9'),
 (2469, 1594, 'Группа 40'),
 (2486, 674, 'Группа 37'),
 (2517, 1718, 'Группа 25'),
 (2518, 1719, 'Группа 35'),
 (2531, 1720, 'Группа 3'),
 (2550, 349, 'Группа 32'),
 (2553, 388, 'Группа 6'),
 (2558, 1726, 'Группа 12'),
 (2568, 1728, 'Группа 20'),
 (2638, 1754, 'Группа 44'),
 (2752, 1768, 'Группа 16'),
 (2814, 1780, 'Группа 2'),
 (2840, 378, 'Группа 17'),
 (2842, 1787, 'Группа 4'),
 (2926, 1793, 'Группа 22'),
 (2960, 1799, 'Группа 33'),
 (3077, 1820, 'Группа 11'),
 (3139, 1833, 'Группа 50'),
 (3144, 1834, 'Группа 24'),
 (3169, 1839, 'Группа 27'),
 (3233, 687, 'Группа 18'),
 (3237, 443, 'Группа 52'),
 (3240, 1621, 'Группа 36'),
 (3241, 1621, 'Группа 34'),
 (3244, 1621, 'Группа 30'),
 (3273, 1850, 'Группа 10'),
 (3284, 1856, 'Группа 8'),
 (3481, 1882, 'Группа 51'),
 (3599, 1889, 'Группа 39'),
 (7007, 2, None),
 (7290, 2, None),
 (11190, 4, None),
 (11609, 4, None),
 (12611, 4, None),
 (14518, 4, None),
 (16197, 2, None),
 (16680, 4, None),
 (17958, 4, None),
 (18195, 4, None),
 (21201, 4, None),
 (21365, 1, None),
 (22182, 4, None),
 (22257, 4, None),
 (23126, 4, None),
 (23456, 4, None),
 (23830, 4, None),
 (29465, 4, None),
 (30427, 4, None),
 (30560, 4, None),
 (32389, 4, None),
 (33088, 4, None),
 (35409, 4, None),
 (35873, 2, None),
 (37200, 4, None),
 (37385, 2, None),
 (37944, 4, None),
 (39471, 4, None),
 (40722, 4, None),
 (43652, 4, None),
 (43682, 4, None),
 (43789, 4, None),
 (44234, 4, None),
 (45348, 4, None),
 (45830, 1, None),
 (49501, 2, None),
 (49849, 1, None),
 (52541, 4, None),
 (52850, 4, None),
 (53535, 1, None),
 (57203, 4, None),
 (58912, 4, None),
 (60579, 2, None),
 (61627, 4, None),
 (62986, 4, 1.0),
 (67475, 4, None),
 (69115, 4, None),
 (69160, 1, None),
 (74406, 4, None),
 (76300, 2, None),
 (78124, 4, None),
 (79743, 3, None),
 (80546, 4, None),
 (80658, 4, None),
 (83957, 4, 1.0),
 (87104, 4, None),
 (87958, 4, None),
 (88475, 4, None),
 (89333, 4, None),
 (90633, 4, None),
 (91030, 2, None),
 (91409, 4, None),
 (95692, 4, None),
 (98360, 4, None),
 (99099, 4, None),
 (100591, 2, None),
 (102356, 4, None),
 (102735, 2, None),
 (103704, 1, None),
 (104786, 4, None),
 (105326, 4, None),
 (108364, 2, None),
 (108432, 2, None),
 (109278, 2, None),
 (109447, 1, None),
 (116639, 4, None),
 (119101, 4, None),
 (119490, 2, None),
 (120123, 4, None),
 (123498, 4, None),
 (124024, 4, None),
 (124140, 2, None),
 (124780, 4, None),
 (126102, 4, None),
 (129046, 4, None),
 (130578, 4, None),
 (135053, 4, None),
 (135526, 4, None),
 (138691, 4, None),
 (139586, 3, None),
 (141703, 4, None),
 (141993, 2, None),
 (143506, 1, None),
 (145252, 4, None),
 (149655, 2, None),
 (152571, 4, None),
 (154866, 4, None),
 (156743, 2, None),
 (160696, 4, None),
 (161841, 4, None),
 (162154, 4, None),
 (162334, 4, None),
 (162942, 4, None),
 (164268, 4, None),
 (165905, 4, None),
 (168610, 2, None),
 (168672, 4, None),
 (169019, 2, None),
 (169461, 2, None),
 (169649, 4, 0.0),
 (171764, 4, None),
 (174808, 2, None),
 (175800, 4, None),
 (175913, 2, None),
 (175994, 2, None),
 (180363, 1, None),
 (181898, 4, None),
 (182326, 2, None),
 (183448, 1, None),
 (185292, 2, None),
 (189014, 2, None),
 (192157, 4, None),
 (196111, 2, None),
 (196472, 4, None),
 (198817, 4, None),
 (200728, 4, None),
 (201223, 4, None),
 (201711, 1, None),
 (203197, 4, None),
 (203704, 4, None),
 (205877, 4, 0.0),
 (209246, 4, None),
 (209702, 1, None),
 (209711, 4, None),
 (211526, 4, None),
 (213747, 4, None),
 (213782, 4, 0.0),
 (214665, 2, None),
 (216316, 4, None),
 (219140, 4, None),
 (219196, 4, None),
 (223419, 2, None),
 (223770, 4, None),
 (224154, 2, None),
 (226420, 4, None),
 (228714, 4, None),
 (229552, 4, None),
 (229693, 4, None),
 (230093, 2, None),
 (230885, 2, None),
 (231375, 2, None),
 (232987, 4, None),
 (235736, 4, None),
 (237288, 2, None),
 (237634, 4, None),
 (238853, 4, None),
 (239926, 4, None),
 (239998, 1, None),
 (240561, 1, None),
 (241789, 4, None),
 (245340, 4, None),
 (248283, 4, None),
 (248798, 2, None),
 (253349, 4, None),
 (257098, 4, None),
 (257612, 4, None),
 (265005, 1, None),
 (266713, 2, None),
 (266892, 4, None),
 (267018, 4, None),
 (271508, 3, None),
 (272352, 4, None),
 (272525, 4, None),
 (276086, 4, None),
 (277769, 4, None),
 (277994, 4, None),
 (278191, 4, None),
 (280924, 2, None),
 (282548, 4, 0.0),
 (282874, 4, None),
 (283337, 4, None),
 (284721, 4, None),
 (286312, 4, None),
 (286982, 4, None),
 (288469, 3, None),
 (288592, 2, None),
 (289896, 4, None),
 (292055, 3, None),
 (294453, 4, None),
 (296284, 4, None),
 (298914, 2, 0.0),
 (299226, 4, None),
 (299785, 4, None),
 (300370, 2, None),
 (303876, 2, None),
 (303947, 4, None),
 (304748, 4, None),
 (306874, 2, None),
 (310533, 4, None),
 (312740, 4, None),
 (312909, 4, None),
 (313065, 3, None),
 (315533, 4, None),
 (317386, 4, None),
 (318391, 4, None),
 (318655, 4, None),
 (319371, 4, None),
 (322816, 3, None),
 (324696, 4, None),
 (326350, 4, None),
 (327678, 4, None),
 (332078, 2, None),
 (333316, 4, None),
 (335748, 4, None),
 (336772, 1, None),
 (337097, 4, None),
 (339763, 4, None),
 (339853, 4, None),
 (340589, 4, None),
 (342677, 4, None),
 (342928, 4, None),
 (343328, 4, None),
 (343556, 2, None),
 (343760, 4, None),
 (343894, 4, None),
 (344413, 2, None),
 (345430, 4, None),
 (347758, 2, None),
 (349643, 2, None),
 (354782, 2, None),
 (356740, 4, None),
 (359325, 4, None),
 (360339, 4, None),
 (365234, 4, None),
 (365369, 4, None),
 (366265, 4, None),
 (366621, 4, None),
 (372697, 1, None),
 (373983, 4, None),
 (374236, 4, None),
 (374375, 4, None),
 (374680, 2, None),
 (376397, 4, None),
 (378485, 4, None),
 (379541, 4, None),
 (383961, 4, None),
 (385652, 4, None),
 (386286, 2, None),
 (386896, 4, None),
 (390648, 4, None),
 (394260, 4, None),
 (395667, 4, None),
 (395882, 4, None),
 (396024, 2, None),
 (396904, 2, 0.0),
 (398360, 4, None),
 (398518, 4, None),
 (398896, 4, None),
 (399543, 4, None),
 (401801, 2, None),
 (402668, 1, None),
 (412822, 4, None),
 (414532, 3, 1.0),
 (415459, 4, None),
 (415776, 4, None),
 (416563, 4, None),
 (416875, 2, None),
 (416969, 4, None),
 (417091, 4, None),
 (429851, 4, None),
 (432336, 3, None),
 (433678, 4, None),
 (434309, 2, None),
 (435481, 4, None),
 (436728, 4, None),
 (438524, 4, None),
 (439636, 4, 0.0),
 (439890, 4, None),
 (442614, 2, None),
 (443385, 2, None),
 (443540, 4, None),
 (444129, 1, None),
 (447490, 4, None),
 (449387, 4, None),
 (453494, 4, None),
 (454691, 1, 1.0),
 (456591, 4, None),
 (456882, 2, None),
 (460203, 2, None),
 (460494, 4, None),
 (462649, 4, None),
 (463091, 4, None),
 (464026, 2, None),
 (465281, 4, None),
 (471144, 2, None),
 (473440, 3, None),
 (474340, 4, None),
 (474964, 4, None),
 (475332, 4, None),
 (477268, 4, None),
 (477655, 4, None),
 (482946, 4, None),
 (483092, 4, None),
 (486162, 1, None),
 (488385, 4, None),
 (491185, 4, None),
 (492870, 4, 1.0),
 (493612, 4, None),
 (494551, 2, None),
 (497772, 4, None),
 (498667, 4, None),
 (498796, 2, None),
 (498798, 4, None),
 (499629, 1, 1.0),
 (499845, 2, None),
 (501740, 4, None),
 (502279, 4, None),
 (504247, 4, None),
 (505550, 4, 0.0),
 (507952, 4, None),
 (511435, 2, None),
 (514455, 2, None),
 (516054, 4, None),
 (516758, 4, None),
 (517656, 4, None),
 (525600, 1, None),
 (527098, 1, None),
 (528588, 4, None),
 (530630, 4, None),
 (532159, 4, 1.0),
 (532279, 4, None),
 (533770, 2, None),
 (534690, 4, None),
 (535376, 2, 0.0),
 (536296, 2, None),
 (537591, 4, None),
 (540392, 4, None),
 (545045, 4, None),
 (546512, 2, None),
 (547778, 4, None),
 (548686, 4, None),
 (551516, 3, None),
 (551833, 4, None),
 (553818, 2, None),
 (556015, 4, 0.0),
 (557598, 4, None),
 (559297, 4, None),
 (560409, 4, None),
 (562220, 1, None),
 (562633, 2, None),
 (562832, 4, None),
 (564055, 2, None),
 (565293, 3, None),
 (567743, 2, None),
 (569093, 4, None),
 (571108, 4, None),
 (571670, 4, None),
 (573392, 4, None),
 (575676, 4, None),
 (575786, 4, None),
 (577956, 4, None),
 (579892, 2, None),
 (583742, 4, None),
 (587325, 4, None),
 (590311, 4, None),
 (594088, 4, None),
 (596914, 2, None),
 (602536, 4, None),
 (602764, 4, None),
 (603774, 4, None),
 (604305, 4, None),
 (604524, 4, None),
 (605681, 4, 0.0),
 (605995, 4, None),
 (608128, 4, None),
 (609300, 2, None),
 (609860, 4, None),
 (610179, 4, None),
 (611903, 2, None),
 (613610, 4, None),
 (616159, 4, None),
 (619383, 1, None),
 (619755, 2, None),
 (620168, 4, None),
 (620715, 4, None),
 (620905, 2, None),
 (621420, 3, None),
 (622358, 4, None),
 (623516, 2, None),
 (624485, 4, None),
 (627419, 4, None),
 (628424, 4, None),
 (628627, 4, None),
 (629658, 2, None),
 (631044, 3, None),
 (634439, 4, None),
 (634547, 2, None),
 (636228, 4, None),
 (636956, 4, None),
 (638168, 4, None),
 (638632, 2, None),
 (638878, 4, None),
 (639061, 4, None),
 (639910, 1, None),
 (640061, 2, None),
 (641530, 4, None),
 (643035, 4, None),
 (646800, 2, None),
 (646939, 4, None),
 (724403, 4, None),
 (724769, 2, None),
 (724770, 1, None),
 (725261, 4, None),
 (725635, 4, None),
 (725672, 4, None),
 (726184, 4, None),
 (726192, 4, None),
 (727158, 4, None),
 (727519, 1, None),
 (728069, 4, None),
 (728170, 2, None),
 (728358, 4, None),
 (728555, 4, None),
 (728639, 4, None),
 (728716, 4, None),
 (728803, 4, None),
 (728965, 4, None),
 (729492, 4, None),
 (729632, 4, None),
 (729903, 4, None),
 (730130, 4, None),
 (730211, 4, None),
 (730401, 4, None),
 (731343, 4, None),
 (731642, 4, None),
 (732106, 2, None),
 (732304, 4, None),
 (732519, 4, None),
 (733736, 4, None),
 (733979, 1, None),
 (734395, 4, None),
 (735052, 4, None),
 (735720, 4, None),
 (735878, 1, None),
 (736101, 4, None),
 (736460, 4, None),
 (736504, 1, 1.0),
 (736524, 4, None),
 (736688, 4, None),
 (736788, 4, None),
 (737409, 4, None),
 (737723, 2, None),
 (737744, 4, None),
 (737787, 1, None),
 (737967, 4, None),
 (739060, 4, None),
 (739501, 4, None),
 (739707, 2, None),
 (739764, 2, None),
 (740215, 4, None),
 (740471, 4, None),
 (740653, 4, None),
 (741165, 4, None),
 (741780, 4, None),
 (742308, 4, None),
 (742443, 2, None),
 (742620, 1, None),
 (743421, 4, None),
 (743498, 4, None),
 (743569, 4, None),
 (743581, 4, None),
 (744773, 4, None),
 (744901, 4, None),
 (745487, 4, None),
 (745894, 4, None),
 (745918, 4, None),
 (746770, 4, None),
 (747021, 2, None),
 (747346, 4, None),
 (747502, 2, None),
 (747755, 4, None),
 (748209, 4, None),
 (748715, 2, None),
 (748851, 4, None),
 (749831, 3, 1.0),
 (750156, 4, None),
 (750309, 2, None),
 (751071, 4, 0.0),
 (751368, 4, None),
 (752667, 4, None),
 (752917, 4, None),
 (753451, 2, None),
 (753515, 4, None),
 (754896, 1, None),
 (754938, 4, None),
 (754947, 4, None),
 (755594, 4, None),
 (755627, 4, None),
 (755665, 2, None),
 (757176, 4, None),
 (757464, 4, None),
 (757489, 4, None),
 (757834, 4, None),
 (757978, 2, None),
 (758528, 1, None),
 (758812, 1, None),
 (759121, 4, None),
 (759562, 4, None),
 (760540, 2, None),
 (761210, 4, None),
 (761224, 3, None),
 (761603, 4, None),
 (761941, 2, None),
 (762083, 4, None),
 (762329, 2, None),
 (762505, 4, None),
 (762685, 4, None),
 (762714, 4, None),
 (762981, 4, None),
 (763058, 4, None),
 (763255, 1, None),
 (763277, 4, None),
 (763537, 4, None),
 (763923, 4, None),
 (764018, 4, None),
 (764123, 4, None),
 (764432, 4, None),
 (765938, 4, None),
 (766412, 4, None),
 (766828, 4, None),
 (766973, 4, None),
 (767225, 1, None),
 (767670, 1, None),
 (767764, 2, None),
 (768187, 1, None),
 (769351, 2, None),
 (769423, 4, None),
 (769577, 2, None),
 (770137, 4, None),
 (770519, 4, None),
 (770594, 4, None),
 (770914, 4, None),
 (771507, 1, None),
 (772502, 4, None),
 (773081, 4, None),
 (773769, 2, None),
 (775092, 4, None),
 (775285, 4, None),
 (775450, 4, None),
 (775530, 4, None),
 (775843, 4, None),
 (775912, 4, None),
 (776194, 4, None),
 (776660, 4, None),
 (777210, 3, None),
 (777698, 4, None),
 (778137, 3, None),
 (778311, 4, None),
 (778404, 2, None),
 (778767, 3, None),
 (779087, 4, None),
 (779738, 4, None),
 (780726, 4, None),
 (781858, 4, None),
 (781880, 2, None),
 (781997, 4, None),
 (782059, 1, None),
 (782384, 2, None),
 (783092, 4, None),
 (783138, 4, None),
 (783464, 4, None),
 (783544, 4, None),
 (783788, 4, None),
 (783851, 4, None),
 (783999, 1, None),
 (784439, 4, None),
 (784578, 4, None),
 (784614, 2, None),
 (784934, 4, None),
 (785032, 4, None),
 (785362, 4, None),
 (785472, 4, None),
 (785887, 4, None),
 (786023, 4, None),
 (786769, 4, None),
 (787919, 4, None),
 (788512, 2, None),
 (788519, 1, None),
 (789512, 4, None),
 (789724, 4, None),
 (789859, 4, None),
 (789947, 4, None),
 (790472, 4, None),
 (790744, 2, None),
 (790987, 1, None),
 (791146, 4, None),
 (791915, 4, None),
 (791975, 4, None),
 (792699, 4, None),
 (793292, 1, None),
 (793316, 4, None),
 (793548, 4, None),
 (794161, 4, None),
 (794203, 1, None),
 (794413, 4, None),
 (794962, 4, None),
 (795559, 4, None),
 (795769, 4, None),
 (796745, 4, None),
 (796861, 4, None),
 (796872, 2, None),
 (796944, 4, 1.0),
 (797711, 3, None),
 (797809, 4, None),
 (798256, 4, None),
 (798478, 4, None),
 (798561, 4, None),
 (799444, 4, None),
 (800304, 4, None),
 (800318, 1, None),
 (800823, 4, None),
 (801052, 1, None),
 (801069, 1, None),
 (801216, 4, None),
 (802232, 4, None),
 (803122, 4, None),
 (803204, 4, None),
 (804991, 4, None),
 (805358, 1, None),
 (805379, 4, None),
 (805608, 4, None),
 (805829, 2, None),
 (806035, 4, None),
 (806168, 4, None),
 (806536, 2, None),
 (806920, 4, None),
 (807079, 1, None),
 (807314, 2, None),
 (807630, 4, None),
 (807697, 2, None),
 (808710, 2, None),
 (808783, 4, None),
 (809761, 4, None),
 (810215, 4, None),
 (810516, 4, None),
 (810519, 4, None),
 (810744, 1, None),
 (810758, 4, None),
 (811203, 4, None),
 (811963, 4, None),
 (812267, 1, None),
 (812501, 4, None),
 (812629, 4, None),
 (812785, 4, None),
 (813317, 4, None),
 (814303, 4, None),
 (814875, 4, None),
 (815426, 4, None),
 (816168, 4, None),
 (816522, 4, None),
 (816981, 2, None),
 (816999, 3, None),
 (817161, 2, None),
 (817192, 4, None),
 (817193, 4, None),
 (817342, 4, None),
 (817507, 4, None),
 (818293, 1, None),
 (818528, 4, None),
 (818900, 4, None),
 (819032, 4, 0.0),
 (819203, 4, None),
 (819469, 4, None),
 (819700, 4, None),
 (819892, 4, None),
 (820397, 4, None),
 (820616, 4, None),
 (820740, 4, None),
 (820885, 1, None),
 (820975, 4, 1.0),
 (821647, 4, None),
 (822555, 4, None),
 (822630, 4, None),
 (822930, 4, None),
 (823442, 4, None),
 (823989, 4, None),
 (824130, 1, None),
 (824529, 4, None),
 (824656, 4, None),
 (824678, 1, None),
 (824971, 4, None),
 (825068, 4, None),
 (825224, 1, None),
 (825521, 4, None),
 (825867, 4, None),
 (826262, 4, None),
 (826416, 4, None),
 (826596, 4, None),
 (827121, 4, None),
 (827433, 4, None),
 (827494, 2, None),
 (827550, 4, None),
 (828524, 4, None),
 (828661, 3, None),
 (829065, 1, None),
 (829240, 4, None),
 (829446, 4, None),
 (829451, 4, None),
 (829806, 4, None),
 (829895, 4, None),
 (830248, 2, None),
 (830623, 4, None),
 (830753, 4, None),
 (831423, 4, None),
 (831892, 4, None),
 (832287, 4, None),
 (832740, 4, None),
 (833024, 2, None),
 (833477, 4, None),
 (834234, 4, 0.0),
 (834628, 4, None),
 (834872, 4, None),
 (836071, 2, None),
 (836171, 4, None),
 (837084, 4, None),
 (837460, 4, None),
 (838012, 4, None),
 (838087, 4, 1.0),
 (838121, 4, None),
 (838129, 4, None),
 (838137, 4, None),
 (838350, 4, None),
 (838520, 4, None),
 (839696, 4, None),
 (840336, 1, None),
 (840642, 4, None),
 (840673, 4, None),
 (840703, 2, None),
 (840848, 4, None),
 (840871, 4, None),
 (841283, 1, None),
 (841805, 2, None),
 (841982, 4, None),
 (844300, 4, None),
 (845194, 4, None),
 (845685, 4, None),
 (845947, 4, None),
 (846252, 4, None),
 (846436, 4, None),
 (846843, 4, None),
 (847353, 4, None),
 (847475, 4, None),
 (848178, 4, None),
 (848426, 4, None),
 (848977, 4, None),
 (849273, 4, None),
 (849303, 4, None),
 (850014, 4, None),
 (850285, 2, None),
 (850434, 4, None),
 (850806, 1, None),
 (851585, 4, None),
 (851968, 4, None),
 (852815, 4, None),
 (852932, 4, None),
 (853597, 1, None),
 (853883, 4, 0.0),
 (855651, 4, None),
 (856200, 4, None),
 (856307, 2, None),
 (856392, 4, None),
 (856675, 4, None),
 (856747, 4, None),
 (857184, 4, None),
 (857310, 2, None),
 (858017, 4, None),
 (858328, 4, None),
 (858567, 4, None),
 (859275, 1, None),
 (859398, 4, None),
 (859410, 4, None),
 (859671, 2, None),
 (861101, 4, None),
 (861195, 4, None),
 (861698, 4, None),
 (862817, 4, None),
 (862924, 4, None),
 (863082, 2, None),
 (863107, 4, None),
 (864064, 4, None),
 (864554, 4, None),
 (864804, 1, None),
 (865259, 4, None),
 (865409, 4, None),
 (865668, 1, None),
 (865745, 4, None),
 (865813, 1, None),
 (865971, 2, None),
 (866397, 2, None),
 (866467, 1, None),
 (866484, 4, None),
 (867645, 4, None),
 (867721, 4, 1.0),
 (868247, 2, None),
 (868522, 3, None),
 (869316, 4, None),
 (870485, 4, None),
 (870825, 2, None),
 (871062, 4, None),
 (871351, 4, None),
 (871729, 4, None),
 (871880, 4, None),
 (872013, 4, None),
 (872118, 2, None),
 (872327, 4, None),
 (872410, 4, None),
 (873114, 4, None),
 (873158, 2, None),
 (873973, 4, None),
 (874695, 4, None),
 (874770, 4, None),
 (875168, 4, None),
 (875721, 4, None),
 (876381, 4, None),
 (876791, 4, None),
 (876979, 4, None),
 (877529, 4, None),
 (877825, 4, None),
 (877922, 2, None),
 (878166, 2, None),
 (878199, 4, None),
 (878619, 4, None),
 (878678, 4, None),
 (878986, 1, None),
 (879012, 4, None),
 (879372, 4, None),
 (880486, 4, None),
 (880513, 4, None),
 (881363, 4, None),
 (881945, 2, None),
 (882100, 4, None),
 (882318, 4, None),
 (882699, 4, None),
 (883110, 4, None),
 (883197, 4, None),
 (883699, 1, None),
 (884036, 2, None),
 (884116, 2, None),
 (884376, 4, None),
 (884697, 4, None),
 (884735, 4, None),
 (885329, 4, None),
 (885388, 2, None),
 (885813, 2, None),
 (885876, 4, None),
 (886202, 4, None),
 (886205, 4, None),
 (887232, 4, None),
 (887478, 4, None),
 (887777, 4, None),
 (887790, 4, None),
 (889376, 4, None),
 (889604, 4, None),
 (889914, 4, None),
 (890159, 4, None),
 (890240, 4, None),
 (890662, 4, None),
 (890871, 4, None),
 (891050, 4, None),
 (891809, 4, None),
 (891913, 4, None),
 (891914, 4, None),
 (892341, 4, None),
 (892973, 4, None),
 (893290, 1, None),
 (893707, 4, None),
 (893735, 4, None),
 (894561, 4, None),
 (894633, 1, None),
 (894766, 2, None),
 (894877, 4, None),
 (895338, 4, None),
 (895771, 4, None),
 (895992, 4, None),
 (896189, 4, None),
 (896207, 4, None),
 (896422, 4, None),
 (896446, 4, None),
 (896461, 2, None),
 (896930, 4, None),
 (897222, 4, None),
 (897909, 4, None),
 (898334, 4, None),
 (901193, 2, None),
 (901344, 1, None),
 (902008, 4, None),
 (902859, 4, None),
 (903118, 4, None),
 (903320, 4, None),
 (903916, 4, None),
 (904306, 2, None),
 (904650, 4, None),
 (905246, 4, None),
 (905854, 2, None),
 (905904, 4, None),
 (905908, 4, None),
 (906005, 4, None),
 (906856, 4, None),
 (906882, 4, None),
 (907245, 1, None),
 (907412, 4, None),
 (907440, 4, None),
 (907672, 4, None),
 (907759, 4, None),
 (907984, 4, None),
 (908377, 4, None),
 (908510, 2, None),
 (909056, 4, None),
 (909437, 1, None),
 (909983, 3, None),
 (910541, 4, None),
 (910604, 1, None),
 (910639, 4, None),
 (910648, 4, None),
 (910720, 4, None),
 (910851, 4, None),
 (911373, 2, None),
 (911677, 4, None),
 (912028, 2, None),
 (912136, 1, None),
 (912139, 4, None),
 (912497, 4, None),

In [76]:
%%sql
SELECT * FROM result;

 * sqlite:////content/data.db
Done.

[(8, 'Дозвон, Некорректное задание по звонку'),
 (1, 'Дозвон, Отказ'),
 (6, 'Дозвон, Отложить'),
 (4, 'Не было звонка'),
 (2, 'Дозвон, Перезвонить'),
 (5, 'Недозвон'),
 (3, 'Дозвон, Успешно')]

In [75]:
%%sql
SELECT * FROM result where hit_status_result_id between 3 and 3;

 * sqlite:////content/data.db
Done.

[(3, 'Дозвон, Успешно')]

In [65]:
%%sql
select 3+1 as "Конверсия";

 * sqlite:////content/data.db
Done.

[(4,)]

In [77]:
%%sql
select 3 / 4 as "Продажная конверсия";

 * sqlite:////content/data.db
Done.

[(0,)]

In [96]:
%%sql
select avg(duratoin_sec) from call where duratoin_sec > 0;

 * sqlite:////content/data.db
Done.

[(112.25156400072684,)]